/* Global */
@font-face {
  font-family: "Pacifico";
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
}

html,
body {
  background-color: #fff2cc;
  color: #666666;
  font-family: "Comfortaa", sans-serif;
}

.btn-primary {
  background-color: #6ba94f;
  border: none;
}

.btn-primary:hover {
  background-color: green;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #eeeeee;
}

.navbar {
  background-color: #eeeeee;
}

#special-font {
  font-family: "Caveat", cursive;
}

/* Index */
.container .col-md-8 .text-center {
  margin-bottom: 30px;
}

.video-container,
.image-container {
  height: 300px;
  overflow: hidden;
}

.video-container iframe,
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Search */
.highlight {
  color: blue;
}

/* Learn */
#step {
  padding: 20px;
  margin: 10px;
}

#step .row {
  margin-bottom: 20px;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  border: none;
  width: 100%;
  height: 315px;
}

.step-image,
.step-video {
  height: 300px;
  overflow: hidden;
}

#prevButton,
#nextButton {
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.notion-list {
  list-style: none;
  padding-left: 50px;
}

.notion-list li {
  margin-left: none;
  padding-left: none;
  margin-bottom: 10px;
}

/* Quiz */
#quiz_back_next_but {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#quiz_nextButton {
  display: none;
}

#quiz_backButton {
  display: none;
}

#quiz_result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#quiz_resultHome {
  width: 246px;
}

#quiz_score {
  margin-bottom: 100px;
  margin-top: 100px;
  font-size: 30px;
}

#quiz_result_buttons {
  margin-top: 10px;
}

#quiz_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#basic_folds_bar {
  text-align: center;
  border-right: solid 0.5px lightgray;
}

#boat_bar {
  text-align: center;
  border-left: solid 0.5px lightgray;
}

#quiz_num {
  text-align: right;
}

#quiz_img {
  text-align: center;
}

#quiz_question {
  text-align: center;
}

#quiz_A {
  text-align: center;
}

#quiz_B {
  text-align: center;
}

#quiz_right_wrong {
  text-align: center;
}

#congrats {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.bold {
  color: gray;
}

.lighter {
  color: lightgray;
}

.quiz-question-diagram {
  height: 200px;
}

.quiz-choice-diagram {
  height: 100px;
}

.rotated {
  transform: rotate(180deg);
}
