{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center mt-5">
                <h1>Welcome to the world of Origami!</h1>
                <p class="lead">This module will teach you the basis of origami step by step.</p>
                <button id="startButton" class="btn btn-primary">Start Learning Now!</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}