{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h1>Welcome to Origami World!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="video-container">
                <iframe src="{{ learn_data['1']['video'] }}" allowfullscreen></iframe>
            </div>
            <div class="d-flex justify-content-center">
                <button id="learnButton" class="btn btn-primary mt-3">Learn</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{{ learn_data['1']['diagram'] }}" alt="{{ learn_data['1']['name'] }} Diagram">
            </div>
            <div class="d-flex justify-content-center">
                <button id="quizButton" class="btn btn-primary mt-3">Quiz</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}