{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let id = {{ step| tojson }};
    let content = {{ prob| tojson }};

</script>
<div class="container">
    <div class="row">
        <div class="col-md-6" id="basic_folds_bar">Basic Folds (Question 1-5)</div>
        <div class="col-md-6" id="boat_bar">Boat (Question 6-13)</div>
    </div><hr>
    <div class="row">
        <div class="col-md-2" id="quiz_num"></div>
        <div class="col-md-8" id="quiz_img">[image]</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="quiz_question"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="quiz_A"><button class="btn btn-light" id="quiz_A_but">A. [choice A]</button></div>
        <div class="col-md-6" id="quiz_B"><button class="btn btn-light" id="quiz_B_but">B. [choice B]</button></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="quiz_right_wrong"></div>
    </div>
</div>
<div id="quiz_back_next_but">
    <!-- <button id="quiz_backButton" class = "btn btn-secondary">Back</button> -->
    <button id="quiz_nextButton" class = "btn btn-success">Next</button>
    
</div>

{% endblock %}